@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: hsl(265, 25%, 15%);
  background-image: url("../public/background.png");
}

.App {
  padding: 1.5rem;
  border: 0.2rem solid hsla(0, 0%, 0%, 0.5);
  border-radius: 0.25rem;
  background-color: hsl(265, 15%, 45%);
  font-family: sans-serif;
  max-width: 600px;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0.5rem 0.5rem 0.25rem 0 hsla(0, 0%, 0%, 0.2);
}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr 2fr;
  grid-template-areas: 
    "module-title week-title type-title syllabus-link-title"
    "module-name week-number type-name syllabus-link";
  padding: 1rem;
  column-gap: 0.5rem;
  row-gap: 0.25rem;
  border: 0.2rem solid hsla(0, 0%, 0%, 0.5);
  border-radius: 0.25rem;
  background-color: hsl(265, 15%, 55%);
  box-shadow: 0.25rem 0.25rem 0.25rem 0 hsla(0, 0%, 0%, 0.2);
  text-align: center;
}

.project-container > * {
  /* border: 0.1rem solid hsla(39, 100%, 50%, 0.5); */
}

.project-module-title {
  grid-area: module-title;
  font-style: italic;  
}
.project-module-name {
  grid-area: module-name;
  font-weight: 600;
}
.project-week-title {
  grid-area: week-title;
  font-style: italic;   
}
.project-week-number {
  grid-area: week-number;
  font-weight: 600;
}
.project-type-title {
  grid-area: type-title;
  font-style: italic; 
}
.project-type-name {
  grid-area: type-name;
  font-weight: 600;
}

.project-syllabus-link-title {
  grid-area: syllabus-link-title;
  font-style: italic;
}

.project-syllabus-link {
  grid-area: syllabus-link;
  font-weight: 600;
  color: inherit;
}

.finished-projects-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  border: 0.2rem solid hsla(0, 0%, 0%, 0.5);
  border-radius: 0.25rem;
  background-color: hsl(265, 15%, 60%);
  box-shadow: 0.25rem 0.25rem 0.25rem 0 hsla(0, 0%, 0%, 0.2);
}

.finished-project-container{
  /* border: 0.1rem solid hsla(39, 100%, 50%, 0.5); */
}

.finished-project-name{
  font-size: 1.4rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
}

.finished-project-link-live-container,
.finished-project-link-code-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.finished-project-link-live-text,
.finished-project-link-code-text {
  font-style: italic;
  font-weight: 500;
  font-size: 0.8rem;
}

.finished-project-link-live,
.finished-project-link-code{
  display: block;
  color: inherit;
  font-family: "Roboto Mono", monospace;
  font-size: 0.8rem;
}

.github,
.glitch,
.netlify {
  display: block;
  width: 24px;
  height: 24px;
}